env/
bin/
brain-garden/
.DS_Store

# 사용하지 않는 수백 메가바이트짜리 에셋 폴더 전체 무시
asset/
assets.json

# 최상위 폴더에 있는 모든 대용량 미디어 파일 및 디자인 원본 파일 무시
*.mp4
*.mov
*.mp3
*.psd
*.wav

# --- 예외 처리 (Whitelist) ---
# 실제로 HTML/JS 코드 안에서 불러오는 필수 에셋들만 깃허브에 업로드 허용 (각 10MB 내외라 안전함)
!mongsil.mp4
!0525(3).mp4
!박혜진 Park Hye Jin - ABC (Original Mix).mp3
!Hiroshi Yoshimura - CREEK.mp3
!01 IF U WANT IT (Original Mix).mp3
!01 IF U WANT IT (Original Mix) 2.mp3
!02 ABC (Original Mix) 2.mp3
!02 ABC (Original Mix).mp3
